<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework" level="INFO"/>
    <logger name="ix.ginas.importers" level="TRACE" />
    <logger name="gsrs.dataexchange.imports" level="TRACE" />
</configuration>